.opening-time-value {
  overflow: visible !important;
  margin-left: 0;
  height: 4rem;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
}

.opening-time-key {
  font-size: 1.3rem !important;
}

.opening-time-label {
  color: #808080;
}

.opening-time-range {
  font-size: 1.2rem;
  color: #ffe86d;
}

.contacts-icon {
  margin: 0 0.5rem;
}

.contacts-value {
  line-height: 24px;
  letter-spacing: 1px;
}

.info-title {
  margin-left: 0.5rem;
}

.info-title strong {
  color: var(--ion-color-primary);
  font-size: 1.6rem;
}

.info-title p {
  color: #8c8c8c;
  font-size: 0.7rem;
}
