.full-width-button {
  padding: 0 1rem;
}

.asterisk-note {
  font-size: 0.8rem;
  color: #808080;
  padding: 1rem;
}

.mdl-button--raised.mdl-button--colored {
  background-color: var(--ion-color-primary);
}

.firebaseui-link,
.firebaseui-id-secondary-link {
  color: var(--ion-color-primary) !important;
}

.firebaseui-container {
  background-color: var(--ion-background-color);
}

.firebaseui-container h1,
p,
span,
label,
.firebaseui-label,
.firebaseui-input {
  color: var(--ion-text-color) !important;
}
